<%- include("header")-%>

<p class="About">Hey, I am vivek Yadav Creator of this Wonderful ToDoList</p>
<p class="About">EJS,CSS,Nodejs,Express,MongoDB and Mongoose were used to make this toDoList Website </p>

<p class="About">Wanna know some magical about this website just at the end of url add <strong>/Any_name</strong> you want And you will got a custom ToDoList of that name</p>
<p class="About">Example: <strong>url/work</strong></p>

<%- include("footer")-%>